@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/** common css start **/

body {
  font-family: 'Open Sans', sans-serif !important;
}


header{
    display: none;
}

.banner .banner-default:before{
   background: none !important;
}

.banner .banner-default p{
    padding-left: 15%;
    margin-top: 0;
    width: 800px;
}

.banner .banner-default .container{
    top: 83px !important;
}

#DxSydney > .component-content > .row {
    margin-right: 0 !important;
}
 
#Section1 {
	padding: 0 90px;
}

.banner .banner-default .banner-content {
    max-width: 100%;
}

#Section1 .component.promo{
    background: none !important;
}

#Section1 .promo>.component-content{
    border: 0 !important;
	position: relative;
    text-align: center;
}

#Section1 .promo .field-promoicon img{
    width: 317.196px;
    height: 317.196px;
}

#Section1 .field-promoicon{
     box-shadow: -4px 5px 24px -4px #dee2e6;
    border-radius: 13px;
	background: #fff;
}

#Section2{
    margin-bottom: 45px;
}

#Section2 .rich-text .component-content div {
	margin: 10px 36px;
	background: rgba(0,132,234,1);
	color: white;
	padding: 13px 27px;
	text-align: center;
}	

#Section2 .link.col-12 {
	margin-top: 26px;
}

#Section2 a {	
	    text-align: center;
    background: #0084ea;
    color: #fff;
    padding: 13px;
    border-radius: 38px;
    border: 5px solid #fff;
    box-shadow: 1px 1px 1px 1px #000;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    width: 254px;
    display: block;
    margin-top: -12px;
}

#Section3 .component.rich-text.col-12.col-lg-6 img{
	height: 260px;
    width: 335px;
}

#Section3 .component.rich-text.col-12.col-lg-6{
    background: rgba(214,246,243,1);
    text-align: center;
    font-family: inherit;
    padding: 18px 7px;
}

#Section4{
    
    margin-top: 50px;
    margin-bottom: 50px;

}

#Section4 a{
	background: rgba(0,132,234,1);
    color: #fff;
    padding: 13px;
    border-radius: 38px;
    border: 5px solid white;
    box-shadow: black 1px 1px 1px 1px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.7px;
    font-size: 14px;
    width: 270px;
    display: grid;
    margin: 0 auto;
    text-align: center;
}



@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  .banner .banner-default img{
    width: 100% !important;
    height: 200px;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
  }
  
  #Section1 {
    padding: 0 60px;
    margin-top: 0;
  }
  
  #Section1 .richtext-reusable.col-12 p{
	text-align: center !important; 
  } 
  
  #Section1 .promo>.component-content>div {
    padding: 5px;
    font-size: 15px;
    margin-top: 16px;
	border-radius: 0;
	box-shadow: none;
  }
  
  #Section1 .promo .field-promoicon img {
    width: 269px;
    height: 250px;
    margin-left: 0;
    vertical-align: middle;
	border-radius: 27px;
  }
  
  #Section1 .field-promotext{
     padding-left: 0;
  }
  
  #Section2{
    padding-left: 0;
    padding-right: 0;
  }
  
  #Section2 strong {
    color: white;
	font-size: 13px;
  }
  
  #Section2 .col-6 {
    padding: 0 !important;
  }
  
  #Section2 a{
    font-size: 12px;
	margin-left: -56px;
  }
  
  #Section2 .rich-text {
    padding: 0;
    font-size: 14px;
  }
  
	#Section2 .col-6 .row{
		background: #0084ea;
	}
  
  #Section2 .content ul li, .rich-text ul li{
	text-align: left;
    line-height: 3px;  
  }
  
  #Section2 .row.column-splitter>div {
    padding-left: 5px;
    padding-right: 5px;
    width: 500px;
  }
  
  #Section2 .rich-text .component-content div{
	margin: 0;
  }
  
  #Section2 .link.col-12 {
    margin-top: 26px;
    margin-left: 33%;
    margin-bottom: 41px;
  }
  
  #Section3 .col-6 {
    flex: 0 0 auto;
    width: 100%;
  }
  
  #Section3 .component.rich-text.col-12.col-lg-6{
    background: rgba(214,246,243,1);
    text-align: center;
    font-family: inherit;
    padding: 18px 7px;
  }
  
  #Section3 .component.rich-text.col-12.col-lg-6 img{
    height: 200px !important;
    width: 200px !important;
  }
  
  #Section3 .component.rich-text.col-12.col-lg-6 p{
    padding: 0 33px;
    line-height: 1;
  }
  
  #Section4 a{
	margin-bottom: 16px;
    text-align: center;
    font-weight: normal;
    font-size: 11px;
  }
  
  #Section4 .col-6{
    flex: 0 0 auto;
    width: 100%;
  }
  
  #Section3 .promo>.component-content>div {
    padding: 5px;
    font-size: 14px;
  }
  
  #Section3 .component.promo{
    margin-bottom: 22px;
  }
  
  .banner .banner-default p{
    padding-left: 0;
    margin-top: 4px;
    width: 100%;
    font-size: 13px!important;
    margin-left: 0;
    text-align: center;
  }
  
  .banner .banner-default .container p {
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: bold;
  }
}  


