#header {
  color: $white;
  > .container {
    width: 100%;
    max-width: 100%;
    @include respond-to(tablet-to-laptop){
      padding: 0 3rem;
    }
  }
  a {
    color: $white;
  }
  .link {
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    &.skip-to-content {
      margin-top: 0;
      padding-top: 0;
      padding-left: 0;
    }
  }

  .link-list {
    > .component-content {
      li {
        a {
          &::before {
            content: "";
          }
          &:hover {
            border: 0;
          }
        }
      }
    }
    ul {
      @include respond-to(desktop-and-above) {
        float: right;
      }
      li {
        display: inline-block;
        padding-left: 2.5rem;
      }
    }
  }
  select,
  option {
    font-size: 1.2rem;
    background-color: #0c1f31;
    color: $white;
  }
  img {
    max-width: 90px;
    @include respond-to(below-laptop){
      max-width: 60px;
    }
  }

  .navigation.navigation-main .rel-level1.submenu > .navigation-title {
    a {
      &::after {
        content: "";
      }
    }
  }
  .navigation {
    &.navigation-main {
      .rel-level1 {
        &:hover {
          .rel-level2 {
            background: white;
            .navigation-title {
              span {
                color: black;
              }
            }
          }
        }
        &.last {
          a {
            padding-right: 0;
          }
        }
        > .navigation-title {
          a {
            &:hover {
              border: 0;
            }
            border: 0;
          }
        }
      }
      .component-content {
        > nav {
          position: static;
        }
      }
    }
    nav {
      > ul {
        float: right;
        ul {
          li {
            a {
              color: black;
            }
          }
        }
      }
    }
    margin: auto 0 auto auto;
  }

  .search-bar-default {
    margin: auto;
    @include respond-to(below-laptop){
      padding: 0 3rem 0 2rem
    }
  }

  @include respond-to(laptop-to-desktop) {
    .container {
      .row > * {
        max-width: 960px;
      }
    }
    a {
      font-size: 1.2rem;
    }
  }

  #top-nav{
    .link-list{
      .first{
        display: none;
        @include respond-to(laptop-and-above){
          display: inline-block;
        }
      }
      @include respond-to(below-laptop){
        flex: 1;
      }
      .last{
        @include respond-to(below-laptop){
          display: block;
          text-align: right;
        }
      }
    }
    &.container{
      @include respond-to(below-laptop){
      padding-left: 0;
      padding-right: 0;
      }
    }
  }

  #bottom-nav{
    padding-top: 15px;
    .link{
      @include respond-to(below-laptop){
        text-align: right;
        margin: 0;
        a{
          font-size: 0;
        }
       
        &::before{
          content: url("../../../public/hamburger-icon.svg");
          display: inline-block;
        }
      }
    }
    .image {
      padding-bottom: 10px;
    }
    &.container{
      @include respond-to(below-laptop){
      padding-left: 0;
      padding-right: 0;
      }
    }
  }
}
.editing-mode {
  #header {
    .link-list {
      h3 {
        display: none;
      }
    }
  }
}
