html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0px;
  height: auto !important;
}

body {
  @include opensans-font-stack();
  position: relative;
  overflow: auto;
  color: $text-basic;
  font-size: 16px;
  line-height: 1.5;
  background: $page-bg;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: auto !important;
  &.on-page-editor {
    background: $page-bg-editor !important;
  }
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 600;
}

p {
  font-family: $myriad-regular-font;
  font-weight: $regular;
  font-size: $font-medium;
  color: #000;
  line-height: 1.5;
}

h1 {
  // font-weight: $regular;
  font-size: $xl-font;
  font-family: $secondary-font;
}

h2 {
  font-size: $lg-font;
  font-family: $secondary-font;
  // font-weight: $regular;
  color: $brand-color;
  margin-bottom: 3rem;
  filter: contrast(1);
}

h3 {
  font-size: $md-font-tertiary;
  font-family: $secondary-font;
  // font-weight: $regular;
  margin-bottom: 1.5rem;
  color: $brand-color;
}

h4 {
  font-size: $md-font-primary;
  color: $brand-color;
  font-family: $myriad-regular-font;
  font-weight: $semi-bold;
  margin-bottom: 1.3rem;
}

ul,
li {
  font-family: $myriad-regular-font;
  font-weight: $medium;
}

@include respond-to(mobile-to-tablet) {
  h1 {
    font-size: $md-font-tertiary;
  }
  p {
    font-size: $sm-font;
  }
  .container-default {
    &.container {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  .section-inner-space {
    padding-top: $md-space;
    padding-bottom: $md-space;
  }
}

@include respond-to(tablet-to-laptop) {
  h1 {
    font-size: $lg-font;
  }
}

@include respond-to(laptop-to-desktop) {
  h1 {
    font-size: $xl-font;
  }
  .container {
    .row > * {
      max-width: 960px;
    }
  }
}

@include respond-to(desktop-and-above) {
  .container-default {
    &.container {
      max-width: 1230px;
    }
  }
  .container {
    max-width: 1230px;
  }

  h1 {
    font-size: $xl-font;
  }

  .text-align-justify {
    text-align: justify;
  }
}

h1 {
  font-weight: $regular;
  font-family: $secondary-font;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

.section-inner-space {
  // padding-top: $lg-space;
  padding-bottom: $lg-space;
}

.section-marigin-top-space {
  margin-top: $lg-space;
}

.section-padding-top-space {
  padding-top: $lg-space;
}

.section-content-padding {
  padding-right: 20rem;
}

.tertiary-btn {
  background-color: rgba($brand-color, 0.7);
  color: $white;
  text-transform: capitalize;
  text-decoration: none;
  padding: 1rem 2rem;
  font-family: $myriad-regular-font;
  font-size: $md-font-primary;
  font-weight: $regular;
  border-radius: $xl-border-radius;
  border: solid 1px rgba($brand-color, 0.7);
  text-decoration: none;
  display: inline-block;

  &:hover {
    border-color: $white;
    background-color: transparent;
    color: $white;
  }
}
