@import '@sass/abstracts/mixins';

.container-wrapper {
  width: 100%;
}

.component {
  position: relative;
}

.container {
  &.container-default {
    padding: 0;

    &.container-full-width {
      max-width: unset;
    }

    .component-content {
      @include clearfix();
    }
  }
}
