@import "../../abstracts/_mixins.scss";

.basic-cards {
  .card-details {
    font-size: 1.6rem;
  }
  &.promo {
    padding: 0;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
  .ps-md-5 {
    @include respond-to(tablet-and-above) {
      padding-left: 0 !important;
      padding-right: 3rem !important ;
    }
  }
}
