@import "../../abstracts/espire-mixin";
.banner {
  position: relative;
  @include respond-to(mobile-to-tablet) {
    overflow: hidden;
  }
  .banner-default {
    text-align: left;
    &:before {
      content: "";
      left: 0;
      top: 0;
      position: absolute;
      background: linear-gradient(
        95.07deg,
        $brand-color -0.89%,
        rgba(0, 0, 0, 0) 100%
      );
      width: 100%;
      height: 100%;
      @include respond-to(mobile-to-tablet){
        z-index: 1;
      }
    }

    > img {
      width: 100%;
    }

    .container {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: flex;
      align-items: center;
      color: $white;
      @include respond-to(mobile-to-tablet){
        z-index: 2;
      }
    }

    p {
      font-family: "myriad_prolight";
      font-weight: 300;
      font-size: 2.5rem;
      margin-bottom: 4rem;
      color: $white;
    }

    .primary-btn {
      @include primary-btn();
      border: solid 1px $white;
      background-color: $white;
      color: $brand-color;

      &:hover {
        background-color: transparent;
        color: $white;
      }
    }
    @include respond-to(mobile-to-tablet) {
      img {
        width: min-content;
        max-width: initial;
        max-height: 350px;
        @include transformContainer(translateX(-50%));
      }
    }

    @include respond-to(below-laptop) {
      .banner-content {
        max-width: 100%;
      }
      .container {
        p {
          font-size: $sm-font;
        }
      }
    }

    @include respond-to(desktop-and-above) {
      .banner-content {
        max-width: 60%;
      }
    }
  }
}

//for edit mode
.editing-mode {
  .default {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .banner {
    .sc-image-wrapper {
      position: relative;
      img {
        position: relative;
        float: right;
        margin-right: 2rem;
      }
    }

    .container {
      margin: 0 0 0 2rem;
    @include respond-to(laptop-and-above){
        max-width: 720px;
      }
    }
  }
}
