<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="
http://www.sitecore.net/xmlconfig/"
xmlns:role="
http://www.sitecore.net/xmlconfig/role/"
xmlns:security="
http://www.sitecore.net/xmlconfig/security/">

  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <settings>
      <!--  MAIL SERVER
                SMTP server used for sending mails by the Sitecore server
                Is used by MainUtil.SendMail()
                Default value: ""
            -->
      <setting name="MailServer" value="smtp-relay.sendinblue.com" />
      <!--  MAIL SERVER USER
                If the SMTP server requires login, enter the user name in this setting
            -->
      <setting name="MailServerUserName" value="mithilesh.kumar@espire.com" />
      <!--  MAIL SERVER PASSWORD
                If the SMTP server requires login, enter the password in this setting
            -->
      <setting name="MailServerPassword" value="hGa2EOpbfrJDyRVZ" />
      <!--  MAIL SERVER PORT
                If the SMTP server requires a custom port number, enter the value in this setting.
                The default value is: 25
            -->
      <setting name="MailServerPort" value="587" />
      <!--  MAIL SERVER SSL
                If the SMTP server requires SSL, set the value to true.
                The default value is: false
            -->
      <setting name="MailServerUseSsl" value="false" />
    </settings>
  </sitecore>
</configuration>