@import '@sass/abstracts/vars';
@import '@sass/abstracts/mixins';

.title {
  background:none;
  h1,
  .field-title {
    >a, >span {
     
      @extend .h1;

      display: block;
      text-decoration: none;
      cursor: default;
      line-height: 1.2;
      color:$text-black;
  }
}
  @import '@sass/variants/title';
}
