@import '@sass/abstracts/vars';
@import '@sass/abstracts/mixins';

.title {
  background: $title-bg;
  h1,
  .field-title {
    >a, >span {
      @include border-basic(bottom, $border-basic-color);
      font-size: $font-extrabig;
      margin-top: $small-margin;
      margin-bottom: $small-margin;
      color: $white;
      line-height: normal;
      padding-bottom: 10px;
      display: block;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        // color: $title-color-active;
        text-decoration: underline;
      }
  }
}
  @import '@sass/variants/title';
}
