<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="
http://www.sitecore.net/xmlconfig/"
xmlns:role="
http://www.sitecore.net/xmlconfig/role/"
xmlns:security="
http://www.sitecore.net/xmlconfig/security/">

  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <settings>
    
      <setting name="MailServer" value="smtp.mailgun.org" />
      <!--  MAIL SERVER USER
                If the SMTP server requires login, enter the user name in this setting
            -->
      <setting name="MailServerUserName" value="postmaster@sandboxfe680bce2d9e415c86db0c4b7d7795ee.mailgun.org" />
      <!--  MAIL SERVER PASSWORD
                If the SMTP server requires login, enter the password in this setting
            -->
      <setting name="MailServerPassword" value="1b7576eb0e1773f3278c9bbc44892639-7764770b-386d5177" />
      <!--  MAIL SERVER PORT
                If the SMTP server requires a custom port number, enter the value in this setting.
                The default value is: 25
            -->
      <setting name="MailServerPort" value="587" />
      <!--  MAIL SERVER SSL
                If the SMTP server requires SSL, set the value to true.
                The default value is: false
            -->
      <setting name="MailServerUseSsl" value="false" />
    </settings>
  </sitecore>
</configuration>