<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <exm>
      <eds>
        <smtpSettings type="Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core" singleInstance="true" patch:source="XmCloud.CustomSMTP.config">
		<server>smtp.mailgun.org</server>
		<port>587</port>
		<userName>postmaster@sandboxfe680bce2d9e415c86db0c4b7d7795ee.mailgun.org</userName>
		<password>1b7576eb0e1773f3278c9bbc44892639-7764770b-386d5177</password>
		<authenticationMethod>LOGIN</authenticationMethod>
		<startTls>false</startTls>
		<proxySettings ref="exm/eds/proxySettings" patch:source="XmCloud.CustomSMTP.config"/>
		</smtpSettings>
      </eds>
    </exm>
  </sitecore>
</configuration>