<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="
http://www.sitecore.net/xmlconfig/"
xmlns:role="
http://www.sitecore.net/xmlconfig/role/"
xmlns:security="
http://www.sitecore.net/xmlconfig/security/">

  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <settings>
    
      <setting name="MailServer" value="smtp.mailendo.com" />
      <!--  MAIL SERVER USER
                If the SMTP server requires login, enter the user name in this setting
            -->
      <setting name="MailServerUserName" value="sitecoresendemo.sitecoresend.io/sitecoredemo+8txkjxoazuqifx7i6iyfxg@sitecore.com" />
      <!--  MAIL SERVER PASSWORD
                If the SMTP server requires login, enter the password in this setting
            -->
      <setting name="MailServerPassword" value="Espire@123456789" />
      <!--  MAIL SERVER PORT
                If the SMTP server requires a custom port number, enter the value in this setting.
                The default value is: 25
            -->
      <setting name="MailServerPort" value="25" />
      <!--  MAIL SERVER SSL
                If the SMTP server requires SSL, set the value to true.
                The default value is: false
            -->
      <setting name="MailServerUseSsl" value="true" />
    </settings>
  </sitecore>
</configuration>