.rounded-image {
  .row{
    align-items: center !important;
  }
  .image-section {
    border-radius: 50%;
    border: 0.5px solid $primary-color;
    max-width: 365px !important;
    min-width: 365px;
    max-height: 365px;
    min-height: 365px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-left: 3rem;
    img {
      border-radius: 50%;
      max-height: none;
      object-fit: unset;
    }
    @include respond-to(mobile-to-tablet) {
      max-width: 250px !important;
      min-width: 250px;
      max-height: 250px;
      min-height: 250px;
      margin: 0 auto 2rem auto;
    }
  }

  @include respond-to(tablet-and-above) {
    .row-cols-1 > * {
      flex: 1;
    }

    .row-cols-md-2 > * {
      flex: 1;
    }

    .image-section {
      &.ps-md-5 {
        padding-left: 3rem !important;
      }
    }
    .text-section {
      padding-right: 3rem;
    }
  }

  .card-wrapper {
    margin: 0;

    .card-details {
      text-align: left;
    }
  }

  .section-inner-space {
    padding: 0;
  }
}

.editing-mode {
  .rounded-image {
    .image-section {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
