$brand-color: #0c1f31;
$primary-color: #D12727;
$secondary-color: #FFCC00;
$color-shade-one: #588BD9;
$blue-shade-one: #1976D2;
$light-color:#E5E5E5;
$lighter-color: rgba(12, 31, 49, 0.4);
$light-grey: #F3F3F3;
$light-bg: #FAFAFA;
$grey-shade-primary: #51545B;
$white: #fff;
$black-color: #000;
$secondary-font: 'myriad_prolight', 'helveticaregular', 'Arial Regular', sans-serif;
$tertiary-font: "Roboto", sans-serif;
$quaternary-font : 'Inter', sans-serif;
$myriad-light-font: 'myriad_prolight', 'helveticaregular', 'Arial Regular', sans-serif;
$myriad-regular-font: 'myriad_proregular', 'helveticaregular', 'Arial Regular', sans-serif;
$myriad-bold-font: 'myriad_probold', 'myriad_proregular', 'helveticaregular', 'Arial Regular', sans-serif;
$xs-font: 1.2rem;
$sm-font-primary: 1rem;
$sm-font: 1.6rem;
$md-font-primary: 1.8rem;
$md-font-secondary: 2rem;
$md-font: 2.5rem;
$md-font-tertiary: 2.8rem;
$lg-font: 3.2rem;
$xl-font: 4.2rem;
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;
$sm-border-radius: 5px;
$md-border-radius: 10px;
$lg-border-radius: 20px;
$xl-border-radius: 50px;
$title-bg: rgba($brand-color, 0.6);
$box-shadow: 0px 0px 20px #BBBBBB;
$box-shadow-secondary: 0px 0px 20px #393939;
$light-border: 0.3px solid #bbbbbb;
$md-space: 5rem;
$lg-space: 8rem;
$xxl-space: 15rem;
$bdr-one: 0.4px solid $secondary-color;


